.block {
    display: block;
}

.no-padding {
    padding: 0;
}

.decoration-none{
    text-decoration: none;
}

.list-style-none {
    list-style-type: none;
}

.nav-item-style > a {
    margin-right: 2rem;
    margin-top: 1rem;
    padding: 0.75rem 1rem;
    width: 15rem;
    background-color: #006845;
    color: snow;
    border: 1px solid #006845;
    border-radius: 50px;
    box-shadow: 3px 5px 0 1px black;
    transition: color 0.2s ease-in-out,
        background-color 0.2s ease-in-out;
}

.nav-item-style > a:hover {
    background: snow;
    color: #006845;
}

.nav-sub-menu {
    margin-top: 0.75rem;
}

.nav-sub-item > a {
    margin-top: 0.5rem;
    margin-left: 1.5rem;
    margin-right: 2rem;
    padding: 0.75rem 1rem;
    color: #006845;
    background-color: snow;
    border: 1px solid #006845;
    border-radius: 50px;
    box-shadow: 2px 3px 0 0 #006845;
    transform: translate(0px, 0px);
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.nav-sub-item > a:hover {
    background-color: #009e63;
    color: snow;
    box-shadow: 3px 4px 0 1px black;
    transform: translate(-2px, -2px);
}